* {
  box-sizing: border-box;
  margin: 0;
}

#app {
  font-family: 'Courier New', Courier, monospace;
  color: #2c3e50;

  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem 0;
  line-height: 1.5;
}

.typewriter {
  background-color: black;
  color: limegreen;
  font-size: x-large;
  padding: 0.5rem;
  white-space: pre-wrap;
  height: 60vh;
  overflow-y: auto;
}

.debug {
  background-color: lightgray;
  color: darkred;
  font-size: medium;
  padding: 0.5rem;
  white-space: pre-wrap;
  flex-grow: 1;
  max-height: 40vh;
  overflow-y: auto;
}

.cursor-on {
  font-weight: 900;
  color: #adff2f;
}

.cursor-off {
  font-weight: 900;
  color: #adff2f20;
}
