* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-color: rgb(4, 4, 40);
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
}

#app {
  font-family: 'Courier New', Courier, monospace;
  background-color: whitesmoke;
  color: #2c3e50;

  display: flex;
  flex-flow: column;
  gap: 0.5rem;

  height: 100vh;
  /* padding: 1rem 0; */
  line-height: 1.5;
}

#app button {
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0 1rem;
  width: 8rem;
}

.typewriter {
  background-color: black;
  color: limegreen;
  font-size: x-large;
  padding: 0.5rem;
  white-space: pre-wrap;
  height: 60vh;
  overflow-y: auto;
}

.debug {
  background-color: lightgray;
  color: darkred;
  font-size: medium;
  padding: 0.5rem;
  white-space: pre-wrap;
  height: 40vh;
  overflow-y: auto;
}

.cursor-on {
  font-weight: 900;
  color: #adff2f;
}

.cursor-off {
  font-weight: 900;
  color: #adff2f20;
}
